#floorPlan{
    text-align: center;
}
#floorPlanImg{
    padding: 20px 0;
    width: 600px;
}
.eq_use{
    text-align: center;
}

.eq_use_list{
    color: wheat;
}
.banner_text{
    left: 38%;
}

.menu_banner{
    background: center/80% url("/images/equipmentsBanner.jpg");;
}

@media screen and (max-width: 320px){
    #floorPlanImg{
        padding: 20px 0;
        width: 300px;
    }

}
@keyframes change_banner_text{
    0% {
        left: 2%;
    }
    100% {
        left: 38%;
    }
}