:root[color-theme='light'] {
    --bg_co_wb: white;/*배경 흰색 검정*/
    --bg_co_gb: #CCCCCC; /*배경 회색 검정*/
    --bg_events: white;
    --ft_co_bw: black; /*폰트 검정 흰색*/
    --ft_co_bg: black;/*폰트 검정 골드*/
    --ft_co_wb: white;/*폰트 흰색 검정*/
    --border: .5px black solid; /*보더*/
    --border_co: black;/*보더 색상*/
    --border2: 2px solid #191919; /*보더2*/
}
  
:root[color-theme='dark'] {
    --bg_co_wb: #191919;/*배경 흰색 검정*/
    --bg_co_gb: #191919; /*배경 회색 검정*/
    --bg_events: #CCCCCC;
    --ft_co_bw: white; /*폰트 검정 흰색*/
    --ft_co_bg:  linear-gradient(to right bottom,#C99335, #F0E7A2 70%, #C99335);;/*폰트 검정 골드*/
    --ft_co_wb: #191919;/*폰트 흰색 검정*/
    --border: .5px white solid; /*보더*/
    --border_co: white;/*보더 색상*/
    --border2: 2px solid white; /*보더2*/
}
.ed_open{
    cursor: pointer;
}
.ev_de_container{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 99997;
    top: 0;
    left: 0;
    display: none;
}

.opacity_dp{
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99998;
    background-color: #191919;
    opacity: 0.8;
}
.ev_de_wrap{
    position: fixed;
    z-index: 99999;
    width: 70%;
    height: 90%;
    top: 5%;
    left: 15%;
    background-color: white;
}
.ev_de_content{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 10px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.ev_de_content h1{
    text-align: center;
}

.ev_de_content p{
    padding-left: 10px;
    text-align: left;
}
 
.ev_de_content::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
  }

.ed_btn_box{
    width: 100%;
    position: absolute;
    text-align: center;
    bottom:10px;
}

.ev_de_btn{
    margin-right: 20px;
    padding: 10px 25px;
    background-color: #ffffff;
    border: 2px solid #191919;
    color:#191919;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
}

.content{
    width: 100%;
}

.menu_banner{
    background:top/100% url("/images/eventBanner.jpg");
}

.detailTab{
    width: 100%;
    padding: 20px 0px;
    height: 40px;  
    text-align: center;   
    margin: 0 auto; 
}



.detailTab ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly   ;	
    max-width: 600px;
    padding: 1em .5em 1em .5em;
    text-align: center;
    border-radius: 2rem;
    border: var(--border);
    margin: 0 auto 80px;
    background-color: var(--ft_co_wb);
}

.detailTab ul li{
    width: 100%;
    height: 100%;
    padding: 5px 15px 4px 15px;
    text-align: center;
    border-color: var(--border_co);
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: var(--ft_co_bw);
    font-weight: 100;
}
#all{
    background: var(--ft_co_bg);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
    font-weight: 900;
}

.event_tab:hover{
    font-weight: 900 !important;
}
.event_container{
    width: 100%;
    background-color: var(--bg_co_gb);
    text-align: center; 
}

.di_non{
    display: none;
}

.header_box{
    font-family: 'Nanum Gothic', sans-serif;
    background: var(--ft_co_bg);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
    text-align: center;
    padding-top: 40px;
    font-size: 3em;
}

.event_list{
    text-align: center;
    padding: 0 40px 0 40px;
    list-style: none; 
    display: flex;	
    flex-direction: row;
    flex-wrap: wrap;
}

.event_list_box{
    width: 30%;
    height: 350px;
    margin: 1.5%; 
}

.events{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg_events);  
}

.event_img{
    width: 100%;
    height: 200px;
}

.event_text{
    padding: 0;
    margin: 0;
    height: 100px;
    text-overflow: clip;
}

.event_content{
    margin-top: 40px;
    margin-bottom: 40px;
    color: var(--ft_co_bw);
    padding: 30px;
    text-align: center;
    background-color: var( --bg_co_gb);
}
.endEv{
    opacity: 0.5;
}





@media screen and (max-width: 426px){
    .header_box{
        font-size: 2em;
    }
    .detailTab{
        height: 30px;
    }
    .detailTab ul li{
        padding: 1.5px 7px 1px 7px;
        font-size: .85em;
    }
    .event_img{
        height: 130px;
    }
    .events{
        height: 200px;
    }
    .event_text {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 70px;
        overflow: scroll;
        text-overflow: clip;
    }

    .event_list_box{
        height: 200px;
        margin: 1.5%; 
    }
}
@media screen and (max-width: 376px){
    .header_box{
        font-size:1.5em;
    }
    .detailTab{
        height: 30px;
    }
    .detailTab ul li{
        padding: 1.5px 7px 1px 7px;
        font-size: .75em;
    }
    .event_img{
        height: 110px;
    }
    .events{
        height: 180px;
    }
    .event_text {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 50px;
        overflow: scroll;
        text-overflow: clip;
    }

    .event_list_box{
        height: 200px;
        margin: 1.5%; 
    }
}

