:root[color-theme='light'] {
    --bg_co_wb: #ebebeb; /*배경 흰색 검정*/
    --co_bw: #191919; /*색 검정 흰색*/
    --ft_bd_co_wb: #191919;/*폰트 보더, 흰색 검정*/
    --ft_co_bw: #191919; /*폰트 검정 흰색*/
    --bd_co_bw: 3px solid #5C5C5C;/*보더 흰색 검정*/
    --bd_co_bg: 3px solid #191919;/*보더 검정 연한회색*/
    --bd_co_bwg: 1px solid #191919;/*보더 검정 연한회색*/
    --bg_co_gg: #5C5C5C;/*배경 진한회색 연한회색*/
    --fontweight: 900;
}
:root[color-theme='dark'] {
    --bg_co_wb: #191919; /*배경 흰색 검정*/
    --co_bw: #ebebeb; /*색 검정 흰색*/
    --ft_bd_co_wb: #cfcece;/*폰트 보더, 흰색 검정*/
    --ft_co_bw: white; /*폰트 검정 흰색*/
    --bd_co_bw: 3px solid #bdbdbd;/*보더 흰색 검정*/
    --bd_co_bg: 3px solid #cfcece;/*보더 검정 연한회색*/
    --bd_co_bwg: 1px solid #ebebeb;/*보더 검정 연한회색*/
    --bg_co_gg: #bdbdbd;/*배경 진한회색 연한회색*/
    --fontweight: 100;
}

.content{
    height: 500px;
    display: flex;
    justify-content: center;
}

.join_box{
    padding-top: 150px;
    text-align: center;
}

#join{
    width: 450px;
    height: 400px;
    background-color: var(--bg_co_wb);
    color: var(--ft_co_bw);
    text-align: center;
    box-sizing: border-box;
}

#join_content{
    text-align: center;
    color: var(--bg_co_gg);
}

.join_title{
    padding: 30px 0;
    margin: 0;
    font-size: 1.5em;
}

.join_step{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.progress_box{
    border-radius: 50%;
    border: var(--bd_co_bw);
    margin: 0px 3px;
}
.proceeding{
    background-color: none;
    padding: 0 1px 1px;
}
.incomplete{
    background-color: none;
    padding: 0px 10px;
}
.completed{
    background-color: var(--bg_co_gg);
    padding: 0px 10px;
}
.phone_box{
    position: relative;
}
.phone_input{
    color: var(--co_bw);
    background: none;
    position: relative;
    box-sizing: border-box;
    border-width: 0px 0px 2px;
    border-style: solid;
    border-color: var(--co_bw);
    width: 300px;
    height: 48px;
    font-size: 1em;
    padding-left: 60px;
}

.select_box{
    position: absolute;
    top: 3px;
    left: 77px;
}

.phone_selectbox{
    width: 50px;
    height: 38px;
    background: none;
    color: var(--co_bw);
    border-radius: 20px;
    border: var(--bd_co_bwg);
    
}

.certification_btnBox{
    position: absolute;
    top: 3px;
    right: 77px;
}
.certification_btn{
    width: 80px;
    height: 38px;
    background: none;
    color: var(--co_bw);
    border-radius: 20px;
    border: var(--bd_co_bwg); 
    cursor: pointer;  
    font-weight: var(--fontweight);
}

.recertification_btn{
    width: 80px;
    height: 38px;
    background: none;
    color: var(--co_bw);
    border-radius: 20px;
    border: var(--bd_co_bwg);
    display: none;
    cursor: pointer;  
    font-weight: var(--fontweight);
}

.confirm_btn{
    padding-top: 20px;
    display: none;
}   

.message_box{
    text-align: left;
    padding-left: 77px;
}
.not_null{
    display: none;
    color: red;
    font-size: 0.45em;
}
.not_hyphen{
    display: none;
    color: var(--co_bw);
    font-size: 0.45em;
}
.error_num{
    display: none;
    color: red;
    font-size: 0.45em;
}
.input_guide{
    display: none;
    color: var(--co_bw);
    font-size: 0.45em;
}
.certification_number_box{
    position: relative;
    display: none;
}
.certification_number{
    color: var(--co_bw);
    background: none;
    position: relative;
    box-sizing: border-box;
    border-width: 0px 0px 2px;
    border-style: solid;
    border-color: var(--co_bw);
    width: 300px;
    height: 48px;
    font-size: 1em;
}
.countDown{    
    display: none;
    color: red;
    font-size: 0.7em;
    position: absolute;
    top: 20px;
    right: 80px;
}

input[type = number]::-webkit-outer-spin-button,
input[type = number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.next_btn{
    width: 300px;
    height: 60px;
    background:none;
    border: var(--bd_co_bg);
    color: var(--ft_bd_co_wb);
    font-size: 1.25em;
    cursor: pointer;  
    margin-bottom: 100px;
}
.deleteBox{
    background-color: var(--bg_co_wb);
    color: var(--co_bw);
    font-size: 14px;
}

/*===========개인정보===========================*/
#title_pd{
    padding-bottom: 10px;
}
.info_box{
    position: relative;
}

.name_input{
    color: var(--co_bw);
    background: none;
    position: relative;
    box-sizing: border-box;
    border-width: 0px 0px 2px;
    border-style: solid;
    border-color: var(--co_bw);
    width: 300px;
    height: 38px;
    font-size: 1em;
}

.birth_box{
    padding-top: 10px;
}
.birth_year{
    color: var(--co_bw);
    background: none;
    position: relative;
    box-sizing: border-box;
    border-width: 0px 0px 2px;
    border-style: solid;
    border-color: var(--co_bw);
    width: 95px;
    height: 38px;
}
.birth_month{
    text-align: center;
    font-size: 1em;
    color: var(--co_bw);
    background: none;
    position: relative;
    box-sizing: border-box;
    border-width: 0px 0px 2px;
    border-style: solid;
    border-color: var(--co_bw);
    width: 60px;
    height: 38px;
}

.birth_date{
    text-align: center;
    font-size: 1em;
    color: var(--co_bw);
    background: none;
    position: relative;
    box-sizing: border-box;
    border-width: 0px 0px 2px;
    border-style: solid;
    border-color:var(--co_bw);
    width: 60px;
    height: 38px;
}
.ymd{
    margin-top: 20px;
    
}
.gender_box{
    padding-top: 10px;
}
.gender{
    color: var(--co_bw);
    text-align: center;
    background: none;
    position: relative;
    box-sizing: border-box;
    border-width: 0px 0px 2px;
    border-style: solid;
    border-color: var(--co_bw);
    width: 300px;
    height: 38px;
    font-size: 1em;
}


/*===========id/pw===========================*/
#join_idpw{
    width: 450px;
    height: 450px;
    background-color: var(--bg_co_wb);
    color: var(--ft_co_bw);
    text-align: center;
    box-sizing: border-box;
}

.id_input, .pw_input, .repw_input{
    color: var(--co_bw);
    background: none;
    position: relative;
    box-sizing: border-box;
    border-width: 0px 0px 2px;
    border-style: solid;
    border-color: var(--co_bw);
    width: 300px;
    height: 38px;
    font-size: 1em;
}

.id_box, .pw_box{
    padding-bottom: 4px;
    position: relative;
}

.id_btn_box{
    position: absolute;
    top: 2px;
    right: 77px;
}
.id_btn{
    width: 80px;
    height: 30px;
    background: none;
    color: var(--co_bw);
    border-radius: 20px;
    border: 1px solid var(--co_bw);
    cursor: pointer;  
}
.not_overlap{
    display: none;
    color: #168116;
    font-size: 0.45em;
    margin-bottom: 0;
}

.height_unit_box, .weight_unit_box{
    position: absolute;
    top: 2px;
    right: 77px;
}
.height_unit, .height_unit{
    width: 80px;
    height: 30px;
    background: none;
    color: var(--co_bw);
    cursor: pointer;  
}

.good_pw{
    display: none;
    color: #168116;
    font-size: 0.45em;
    margin:0;
    padding: 0;
}


/*===========키 몸무게==========================*/
.height_input, .weight_input{
    color: var(--co_bw);
    background: none;
    position: relative;
    box-sizing: border-box;
    border-width: 0px 0px 2px;
    border-style: solid;
    border-color: var(--co_bw);
    width: 300px;
    height: 38px;
    font-size: 1em;
}


.height_box, .weight_box{
    padding-bottom: 4px;
    position: relative;
}

.height_input::-webkit-outer-spin-button, .weight_input::-webkit-outer-spin-button,
.height_input::-webkit-inner-spin-button, .weight_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
footer{
    margin-top: 70px;
}
#idpw_footer{
    margin-top: 110px;
}