.content{
    text-align: center;
}
.page_PicBox{
    width: 100%;
    text-align: center;
}

.page_container{
    width: 96%;
    background-color: #191919;
}

.pic_list{
    list-style: none; 
    display: flex;	
    flex-direction: row;
    flex-wrap: wrap;
}

.pic{
    text-align: center;
    width: 40%;
    height: 600px;
    margin: 4%;
    border: 1px solid white;
}

.picBox{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #191919;
    position: relative;
}

.photo_by{
    color: white;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    z-index: 999;
    opacity: 0;
    transition: all .5s cubic-bezier(.25, .46, .45, 1);
    cursor: pointer;
}
.learnMore{
    background: linear-gradient(to right bottom,white, #3b3b3b 50%, #ffffff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 300% 300%;

    animation-name: change_text_gradient;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}


.picBox img{
    width: 100%;
    height: 600px;
}

h2{
    margin-top: 14px;
    padding-top: 50px;
    font-size:50px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(to right bottom,#C99335, #F0E7A2 70%, #C99335);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.detailTab{
    width: 100%;
    padding-top: 130px;
    height: 40px;
}

.detailTab ul{
    list-style: none;
    float: left;
    display: flex;	
    padding: 0;
    margin-bottom: -10px;
}

.detailTab ul li{
    padding: 5px 15px 4px 15px;
    text-align: center;
    border-right:0px;
    border-left:0px;
    border-top: 0px;
    border-bottom: 4px solid;
    border-color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    cursor: pointer;
}
#all{
    background: linear-gradient(to right bottom,white, #838383 50%, #ffffff);
    color: #191919;
}

#pt{
    background: none;
    color: white;
}

#fc{
    background: none;
    color: white;
}

#all:hover{ 
    background: linear-gradient(to right bottom,white, #3b3b3b 50%, #ffffff);
    background-size: 300% 300%;
    color: #191919;

    animation-name: change_text_gradient;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;  
}
#pt:hover{
    background: linear-gradient(to right bottom,white, #3b3b3b 50%, #ffffff);
    background-size: 300% 300%;
    color: #191919;
    
    animation-name: change_text_gradient;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;  
}
#fc:hover{
    background: linear-gradient(to right bottom,white, #3b3b3b 50%, #ffffff);
    background-size: 300% 300%;
    color: #191919;

    animation-name: change_text_gradient;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;  
}

@keyframes change_text_gradient{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}