:root[color-theme='light'] {
    --bg_co_gb: #cccccc71;/*배경 회색 - 검정*/
    --bg_co_wb: white;/*배경 흰색 - 검정*/
    --border_l: .5px #191919 solid;/*보더 전체*/
    --border_c: #191919;/*보더 색*/
    --ft_co_bg: #191919; /*폰트 검정-금색*/
    --ft_co_gw: #505050e5;/*폰트 회색-흰색*/
}
  
:root[color-theme='dark'] {
    --bg_co_gb: #191919;/*배경 회색 - 검정*/
    --bg_co_wb: #191919;/*배경 흰색 - 검정*/
    --border: .5px white solid;/*보더 값*/
    --border_c: white;/*보더 색*/
    --ft_co_bg: linear-gradient(to right bottom,#C99335, #F0E7A2 70%, #C99335);; /*폰트 검정-금색*/
    --ft_co_gw: white;/*폰트 회색-흰색*/
}


.content{
    width: 100%;
}
.menu_banner{
    background:right/100% url("/images/trainerBanner.jpg");
}

.trainerIntro{
    width: 100%;
    background-color: var(--bg_co_gb);
    margin-top: 20px;
    padding-top: 10px;
}
#trainerTab{
    width: 100%;
    padding: 20px 0px;
    height: 40px;  
    text-align: center;   
    margin: 0 auto; 
}

#trainerTab ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;	
    max-width: 500px;
    padding: 1em .5em 1em .5em;
    text-align: center;
    border-radius: 2rem;
    border: var(--border_l);
    margin: 0 auto 80px;
    font-size: .875em;
    background-color: var(--bg_co_wb);
}


#trainerTab ul li{
    width: 100%;
    height: 100%;
    padding: 5px 15px 4px 15px;
    text-align: center;
    border-color: var(--border_c);
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

 .TA {
     width: 100%;
     height: 100%;
 }


.focusTab{
    background: var(--ft_co_bg);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
    font-weight: 900;
}


.focusOutTabLi{
    background: none;
}

.focusOutTab{
    color: var(--ft_co_gw);
    font-weight: 100;
}

#introduceBox{
    text-align: center;
}
#trainerImg{
   width: 75%;
   height: 35%;
}
#trainerBox{
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

h2{
    font-size:3.5em;
    font-family: 'Bebas Neue', cursive;
    background: var(--ft_co_bg);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.trainer{
    width: 150px;
    height: 150px;
    display: inline-block;
    border: 1px solid black;
    cursor: pointer;
}   

#allTrainer{
    display: block;
}

.trainerIntro{
    text-align: center;
}
.ptBA img{
    width: 95%;
    padding-top: 20px;
}

@keyframes change_trainer_text_gradient{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width: 960px){
    .trainer{
        width: 120px;
        height: 120px;
    }

}
@media screen and (max-width: 845px){
    .trainer{
        width: 100px;
        height: 100px;
    }

}
@media screen and (max-width: 580px){
    .trainer{
        width: 75px;
        height: 75px;
    }

}
@media screen and (max-width: 426px){
    .trainer{
        width: 60px;
        height: 60px;
    }
    h2{
        font-size:2.5em;
    }
}
@media screen and (max-width: 376px){
    .trainer{
        width: 55px;
        height: 55px;
    }
    h2{
        font-size:2em;
    }
    #trainerTab{
        height: 20px;
    }

    #trainerTab ul li{
        padding: 0 10px;
    }

    
}
@media screen and (max-width: 320px){
    .trainer{
        width: 50px;
        height: 50px;
    }

}

