.content{
    width: 100%;
}
.trainerIntro{
    width: 100%;
    background-color: #191919;
    margin-top: 20px;
    padding-top: 10px;
}
#trainerTab{
    padding-top: 130px;
    height: 40px;      
}
#trainerTab ul{
    text-align: center;
    list-style: none;
    float: left;
    display: flex;	
    padding: 0;
}

#trainerTab ul li{
    padding: 5px 15px 4px 15px;
    text-align: center;
    border-right:0px;
    border-left:0px;
    border-top: 0px;
    border-bottom: 4px solid;
    border-color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    cursor: pointer;
}
#allT{
    background: linear-gradient(to right bottom,white, #838383 50%, #ffffff);
    color: #191919;
}
#nickT{
    background: none;
    color: white;
}
#zinoT{
    background: none;
    color: white;
}
#juneT{
    background: none;
    color: white;
}
#erickT{
    background: none;
    color: white;
}
#yuneeT{
    background: none;
    color: white;
}
#allT:hover{ 
    background: linear-gradient(to right bottom,white, #3b3b3b 50%, #ffffff);
    background-size: 300% 300%;
    color: #191919;

    animation-name: change_trainer_text_gradient;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;  
}
#nickT:hover{ 
    background: linear-gradient(to right bottom,white, #3b3b3b 50%, #ffffff);
    background-size: 300% 300%;
    color: #191919;

    animation-name: change_trainer_text_gradient;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;  
}
#zinoT:hover{ 
    background: linear-gradient(to right bottom,white, #3b3b3b 50%, #ffffff);
    background-size: 300% 300%;
    color: #191919;

    animation-name: change_trainer_text_gradient;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;  
}
#juneT:hover{ 
    background: linear-gradient(to right bottom,white, #3b3b3b 50%, #ffffff);
    background-size: 300% 300%;
    color: #191919;

    animation-name: change_trainer_text_gradient;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;  
}
#erickT:hover{
    background: linear-gradient(to right bottom,white, #3b3b3b 50%, #ffffff);
    background-size: 300% 300%;
    color: #191919;

    animation-name: change_trainer_text_gradient;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;  
}

#yuneeT:hover{
    background: linear-gradient(to right bottom,white, #3b3b3b 50%, #ffffff);
    background-size: 300% 300%;
    color: #191919;

    animation-name: change_trainer_text_gradient;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;  
}

#introduceBox{
    text-align: center;
}
#trainerImg{
   width: 75%;
   height: 570px;
}
#trainerBox{
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

h2{
    font-size:50px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(to right bottom,#C99335, #F0E7A2 70%, #C99335);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.trainer{
    width: 150px;
    height: 150px;
    display: inline-block;
    border: 1px solid black;
    cursor: pointer;
}   

#allTrainer{
    display: block;
}
#trainerNick{
    display: none;
}
#trainerZino{
    display: none;
}
#trainerJune{
    display: none;
}
#trainerErick{
    display: none;
}
#trainerYunee{
    display: none;
}

.ptBA img{
    width: 100%;
    padding-top: 20px;
}

@keyframes change_trainer_text_gradient{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@media screen and (max-width: 845px){
    .trainer{
        width: 100px;
        height: 100px;
    }

}
@media screen and (max-width: 580px){
    .trainer{
        width: 75px;
        height: 75px;
    }

}
@media screen and (max-width: 426px){
    .trainer{
        width: 60px;
        height: 60px;
    }

}
@media screen and (max-width: 320px){
    .trainer{
        width: 50px;
        height: 50px;
    }

}

