#indexPic{
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: url(../images/heart_solid.png), auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    animation-name: mainOpacity;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes mainOpacity{
    from{
        opacity: 0.9;
    }
    to{
        opacity: 1;
    }
}

#indexPic::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

#mainPic{
    width: 100%;
    height: 100%;
    z-index: 9998;
}

.mainEvent{
    width: 15px;
    height: 15px;
    opacity: 1;
    position: absolute;
    z-index: 10000;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    animation-name: change_point;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}

#exitEvent{
    z-index: 10100;
    display: none;
    position: absolute;
    top: 2%;
    left: 2%;
    color: white;
    cursor: pointer
}

#erick{
    top: 17%;
    left: 19%;
}

#clickMe{
    font-family: 'Bebas Neue', cursive;
    z-index: 11000;
    color: white;
    animation-name: change_point;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    position: absolute;
    display: none;
}

#nick{
    top: 11%;
    left: 46%;
}

#june{
    top: 17%;
    right: 29%;
}

#scrollEvent{
    text-align: center;
    position: absolute;
    bottom: 8%;
    left: 45.5%;
    z-index: 10099;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    animation-name: change_font;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}

#scrollIcon{
    position: absolute;
    bottom: 2%;
    left: 50%;
    z-index: 10098;
    color: white;
    animation-name: change_arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}

#cursorEvent{
    color: white;
    z-index: 11001;
    position: absolute; 
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px;
}

@keyframes change_point{
    from{
        opacity: 0.8;
    }
    to{
        opacity: 0.6;
    }
}


@keyframes change_arrow{
    from{
        opacity: 0.9;
    }
    to{
        opacity: 0.2;
    }
}

@keyframes change_font{
    from{
        opacity: 0.9;
    }
    to{
        opacity: 0.2;
    }
}

/* erick 설명 */
#erickExplain{
    position: absolute;
    z-index: 99999;
    top: 16%;
    left: 13%;
    font-size:2em;
    font-family: 'Bebas Neue', cursive;

    background: linear-gradient(to right bottom,#C99335, #F0E7A2 70%, #C99335);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 300% 300%;
    
    animation-name: change_gradient;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    display: none;
}
#erickExplainDetail{
    position: absolute;
    z-index: 99999;
    top: 33%;
    left: 31%;
    color: white;
	font-family: 'Bebas Neue', cursive;
    display: none;

    background: linear-gradient(to right bottom,#ffffff, #d8d8d8 70%, #f7f7f7);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 300% 300%;
    
    animation-name: change_gradient;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}
/* erick 설명 */

/* nick 설명 */
#nickExplain{
    position: absolute;
    z-index: 99999;
    top: 9%;
    left: 36%;
    font-size:2em;
    font-family: 'Bebas Neue', cursive;
    display: none;

    background: linear-gradient(to right bottom,#C99335, #F0E7A2 70%, #C99335);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 300% 300%;
    
    animation-name: change_gradient;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}
#nickExplainDetail{
    position: absolute;
    z-index: 99999;
    top: 15%;
    left: 20%;
    color: white;
	font-family: 'Bebas Neue', cursive;
    display: none;

    background: linear-gradient(to right bottom,#ffffff, #d8d8d8 70%, #f7f7f7);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 300% 300%;
    
    animation-name: change_gradient;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}
#nickExplainDetail2{
    position: absolute;
    z-index: 99999;
    top: 15%;
    left: 58%;
    color: white;
	font-family: 'Bebas Neue', cursive;
    display: none;

    background: linear-gradient(to right bottom,#ffffff, #d8d8d8 70%, #f7f7f7);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 300% 300%;
    
    animation-name: change_gradient;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}
/* nick 설명 */

/* june 설명 */
#juneExplain{
    position: absolute;
    z-index: 99999;
    top: 15%;
    right: 24%;
    font-size:2em;
    font-family: 'Bebas Neue', cursive;
    display: none;

    background: linear-gradient(to right bottom,#C99335, #F0E7A2 70%, #C99335);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 300% 300%;
    
    animation-name: change_gradient;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}
#juneExplainDetail{
    position: absolute;
    z-index: 99999;
    top: 22%;
    right: 41%;
    color: white;
	font-family: 'Bebas Neue', cursive;
    display: none;

    background: linear-gradient(to right bottom,#ffffff, #d8d8d8 70%, #f7f7f7);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 300% 300%;
    
    animation-name: change_gradient;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    
}
/* june 설명 */

@keyframes change_gradient{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width : 767px) {
    #indexPic{
        display: none;
    }
}

